# IF
{% if condition_1 == 1 -%}
print("visible")
{% else %}
print("not visible")
{% endif %}

# FOR
{%- for elem in some_list %}
"The next element is {{elem}}."
{%- endfor %}


# MAKRO
from external_module import BaseClass
{%- macro render_class(argument) -%}
class {{argument}}(BaseClass):
    pass
{%- endmacro %}

{{ render_class(list_of_classnames[0]) }}


{{ render_class(list_of_classnames[1]) }}