/*******************/
/*REVIEW*/
/*******************/
/*  jak zrobic jeden style dla dwoch obiektow?->                                               po przecinku w naglowku*/
/*element ma dwie klasy - ktora jest nadrzedna?->                                         wczesniej zdefiniowana w css*/
/*opacity:0 - co wtedy?->                                                                           obiekt niewidoczny*/
/*composition > element - fachowa nazwa->                                                               parent > child*/
/*czy "hover" jest tylko dla linkow?->                                                                             NIE*/
/*czy kaska moze miec na posrednim etapie "hover"?->                                                               TAK*/
/*      przyklad->                                                                                  ol > li:hover > a */
/*kiedy znaczek ">" w selektorze?->                                                           chyba tylko przy listach*/
/* co robi "padding", czego nie robi "margin" (2)->              1) poszerza wnetrze "border" 2) ma "background-color"*/


/*******************/
/*SELECTORS*/
/*******************/
body{}
#id{}
.class{}
selector.class{}
.outside_class .inside_class{}
.outside_class:hover .inside_class{}

input[type=text]{}
input[type=text]:focus{}                                        /*gdy piszemy w inpucie*/

li:first-child{}                                                /*pierwszy na liscie*/
ol > li{}


/*******************/
/*CLASSIC*/
/*******************/
selector
{
    /*PRZEZROCZYSTOSC*/
    opacity: 0.8;

    /*KOLOR TLA*/
    background-color: gray;
    background-color: #303030;
    background-image: url("path_to_image.jpg");
    background: url("path_to_image.jpg") no-repeat 0px 0px;     /*nie powtarzaj grafik*/
    filter: brightness(50%);

    /*CZCIONKA*/
    font-family: 'Grenze', serif;
    font-size: 44px; font-weight: 900;
    color: white;
    text-decoration: none;                                      /*przekreslenie, pochylenie, itp.*/
    text-transform: uppercase;

    /*TEKST - UKLAD*/
    letter-spacing: 3px;
    line-height: 150%;
    text-align: center; text-align: justify;

    /*ROZMIAR*/
    width: 1000px; height: 170px;
    height: 170px; min-height: 620px;
    width: 50%;

    margin-left: auto; margin-right: auto;                      /*dopasuje do srodka*/
    margin-top: 20px;

    padding: 5px 0px 5px 0px;
    padding: 10px;

    box-sizing: border-box;                                     /*zmienia typ myslenia o boxie: padding nie poszerza borderu, a w zamian zabiera content*/

    /*BORDERS*/
    border: 3px solid gray;
    border-right: 2px dotted grey; border-bottom: 2px dotted red;
    border-radius: 15px;                                        /*zaokregli katy bordera*/

}


/*******************/
/*SPECIAL   */
/*******************/
selector
{
    float: left;
    cursor: pointer;
    color: red !important;
}

/*******************/
/*SPECIFIC MARKUPS*/
/*******************/
body
{
    margin: 0 !important;           /*brak defaultowego borderu*/
}

input
{
    outline: none;                  /*brak defaultowego borderu*/
}

textarea
{
    resize: none;                   /*zrobi tak, że nie możemy powiekszyc*/
}

ul
{
    list-style-type: none;          /*nie ma kropek*/
    line-height: 200%;              /*wysokosc wiersza w liscie*/
}


/*******************/
/*TRANSITION, TRANSFORM*/
/*******************/
/*jak zrobic, by transition dotyczyla wszystkich wlasciwosci?->                           "all" jako pierwszy argument*/
/*co zrobic, jesli transform ma dotyczyc wiekszych ilosci przeksztalcen?->                             dac je po sobie*/
selector
{
	transition: property time typeOfTransition;
    overflow: hidden;                             /* gdyby obraz wewnatrz sie powiekszyl, to div sie nie zmieni*/
}
selector:hover
{
	transform: typeOfTransformation(arg);

}


/*******************/
/*POSITION*/
/*******************/
/* co to znaczy "byc na innym planie"->              divy, ktore nrmalnie bylyby wokol niego "doklejaja" sie do siebie*/
/* co dzieje sie w przeciwnym wypadku (relative)->                                             zostaje "puste miejsce"*/
/* co zrobic, jesli nie chemy nic zmienic->                              position: relative; i żadnego top, left, itd.*/
selector
{
    position: relative; /* przesuniecie "na chama" z miejsca, gdzie normalnie powinien byc */
    position: absolute; /* 1)0xy: najblizszy rodzic, ktoremu ktos ustawil position:non-static  2) jest na innym planie*/
    position: fixed;    /* 1)0xy: okno przegladarki /*/
}

/*******************/
/*DISPLAY*/
/*******************/
/* do szachownicy i listy pionowej najlepiej uzyc->                                            "display: inline-block"*/
selector
{
    display: none;
    display: inline-block;  /* powstaje nowy div (czyli +<margin, padding, height, width> **/
    display: block;         /* blok na cala szerokosc**/
}

