/*
HTML
jak dodac link?->                                                      <a href="http://www.filmweb.pl/Forrest.Gump" </a>
jak zmienic styl jednego konkretnego znacznika?->                        np:  <h1 style="color: green;">header_text</h1>
jak w pliku css wymusic priorytet?->                                                          np: color: red !important;

jak podlinkowac css'a?                                      <link rel="stylesheet" href="filename.css" type="text/css"/>


 */
body
{
    background-color: gray;
    font-family: Verdana;
    font-size: 20px;
    color: white;
}

h1
{
    color: red !important;
}

a:link
{
    color: yellow;
}

a:visited
{
    color: yellow;
}

a:hover
{
    color: red;
}