/*******************/
/*General*/
/*******************/
/*  jak zrobic jeden style dla dwoch obiektow?->                                               po przecinku w naglowku*/
/*element ma dwie klasy - ktora jest nadrzedna?->                                         wczesniej zdefiniowana w css*/
/*opacity:0 - co wtedy?->                                                                           obiekt niewidoczny*/
/*composition > element - fachowa nazwa->                                                               parent > child*/
/*czy "hover" jest tylko dla linkow?->                                                                             NIE*/
/*czy kaska moze miec na posrednim etapie "hover"?->                                                               TAK*/
/*      przyklad->                                                                                  ol > li:hover > a */
/*kiedy znaczek ">" w selektorze?->                                                           chyba tylko przy listach*/

body{}
#id{}
.class{}
selector.class{}
.outside_class .inside_class{}
.outside_class:hover .inside_class{}

input[type=text]{}
input[type=text]:focus{} /*gdy piszemy w inpucie*/

li:first-child{} /*pierwszy na liscie*/
ol > li{}


/*TODO 3. padding vs margin*/
/*TODO 4. opacity vs display:none*/
/*TODO 5. block vs inline-block*/


#sth{
    /*Przezroczystosc*/
    opacity: 0.8;
    display: none;

    /*Kolor tla*/
    background-color: gray;
    background-color: #303030;
    background-image: url("path_to_image.jpg");
    background: url("path_to_image.jpg") no-repeat 0px 0px; /*nie powtarzaj grafik*/
    filter: brightness(50%);

    /*Czcionka*/
    font-family: 'Grenze', serif;
    font-size: 44px; font-weight: 900;
    color: white;
    text-decoration: none; /*przekreslenie, pochylenie, itp.*/
    text-transform: uppercase;

    /*Tekst odstepy*/
    letter-spacing: 3px;
    line-height: 150%;

    /*Rozmieszczenie*/
    width: 1000px; height: 170px;
    height: 170px; min-height: 620px;
    width: 50%;

    margin-left: auto; margin-right: auto; /*dopasuje do srodka*/
    margin-top: 20px;

    padding: 5px 0px 5px 0px; /* vs margin*/
    padding: 10px;

    display: inline-block; /*1)pola do gry szachy same uloza sie w tablice z takim property, 2) wiersze listy uloza sie poziomo**/
    display: block; /* link stanie sie blokiem**/

    box-sizing: border-box; /*zmienia typ myslenia o boxie: padding nie dodaje sie do wigth, a "odejmuje"*/



    /*Borders*/
    border: 3px solid gray;
    border-right: 2px dotted grey; border-bottom: 2px dotted red;
    border-radius: 15px; /*zaokregli katy bordera*/

    /*Przejscia*/
    transition: all .3s ease-in-out;
    overflow: hidden; /* gdyby obraz wewnatrz sie powiekszyl, to div sie nie zmieni*/

    /*Listy*/
    list-style-type: none; /*nie ma kropek*/
    line-height: 200%; /*wysokosc wiersza w liscie*/

    /*Inne*/
    float: left;

    text-align: center; text-align: justify;
    cursor: pointer;
    resize: none;  /*1. dla <textarea> 2. zrobi tak, że nie możemy powiekszyc*/


    /*******************/
    /*Wymuszenie*/
    /*******************/
    color: red !important;
}

body
{
    margin: 0 !important; /*brak defaultowego borderu*/
}

input
{
    outline: none; /*brak defaultowego borderu*/
}




/*******************/
/*TRANSITION, TRANSFORM*/
/*******************/
/*jak zrobic, by transition dotyczyla wszystkich wlasciwosci?->                           "all" jako pierwszy argument*/
/*co zrobic, jesli transform ma dotyczyc wiekszych ilosci przeksztalcen?->                             dac je po sobie*/
selector
{
	transition: property time typeOfTransition;
}
selector:hover
{
	transform: typeOfTransformation(arg);
}

/*******************/
/*POSITION*/
/*******************/
/* co to znaczy "byc na innym planie"->              divy, ktore nrmalnie bylyby wokol niego "doklejaja" sie do siebie*/
/* co dzieje sie w przeciwnym wypadku (relative)->                                             zostaje "puste miejsce"*/
/* co zrobic, jesli nie chemy nic zmienic->                              position: relative; i żadnego top, left, itd.*/
selector
{
    position: relative; /* przesuniecie "na chama" z miejsca, gdzie normalnie powinien byc */
    position: absolute; /* 1)0xy: najblizszy rodzic, ktoremu ktos ustawil position:non-static  2) jest na innym planie*/
    position: fixed;    /* 1)0xy: okno przegladarki /
}




/**********************************************************************************************************************/






